.flyIocn {
  background-size: 569px 521px;
  background-position: -330px 0;

  background-repeat: no-repeat;
  
  height: 96px;
  width: 96px;

  background-image:url('https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_77929eccc37e.png/77929eccc37e.png') ;
  
}