@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'styles/normal.css';

@import 'styles/formStyle.css';

@layer components {
  .navBtn {
    @apply cursor-pointer h-6 transition-all duration-150 ease-out  w-6
  }
  .header_input {
    @apply text-gray-800 block w-full pl-10 py-1  sm:text-sm rounded-md border-gray-300 focus:border-black focus:ring-black
  }
  .stories_profile {
    @apply w-14 h-14 rounded-full mb-1 max-w-xl border-red-500 border-2 hover:scale-110 transition transform duration-200 ease-out cursor-pointer p-0
  }

  .iconButton {
    @apply h-7 w-7 cursor-pointer hover:opacity-60 transition-all duration-150 ease-out 
  }

  .borderG {
    @apply border border-gray-300
  }

  .caption {
    @apply text-xs text-gray-500
  }
  .avatar_image {
    @apply w-8 h-8 rounded-full object-cover
  }
  .avatar_img {
    @apply w-8 h-8 rounded-full object-cover
  }

  .tooltip_red {
    @apply absolute bg-red-600 text-white -top-1 -right-1 text-xs h-5 w-5 animate-pulse rounded-full flex items-center justify-center
  }

  .modal_button_bkue {
    @apply text-center mt-4 text-white text-sm px-3 py-2 font-semibold rounded-md bg-blue-500 hover:bg-blue-400 cursor-pointer
    transition-all duration-200
  }

  .drawler_action_button {
    @apply flex items-center justify-between p-[8px] bg-[#19191a] cursor-pointer transition-all duration-200 hover:opacity-80 hover:bg-gray-800 text-gray-200
  }

  .drop_drawler_item {
    @apply p-3 border-b border-gray-300 flex justify-between cursor-pointer items-center hover:text-white opacity-80 hover:opacity-100 transition-all duration-150
  }

  .drop_drawler_list {
    @apply  bg-[#1e1b21] border border-gray-900 text-gray-300 bg-opacity-95 w-32 rounded-md overflow-hidden transition-all duration-200 absolute 
  }

  .confirm-button {
    @apply outline-none border-0 border-t py-3 hover:bg-gray-50 transition-all duration-200 border-gray-300  flex items-center justify-center text-sm 
  }

  .add_post_modal {
    @apply 
    block md:inline-block
      my-8 overflow-hidden 
    text-left align-middle transition-all 
    transform bg-white shadow-xl rounded-lg
  }

  .stories_bar {
    @apply flex space-x-2 p-[16px] gap-[12px] bg-white mt-5 md:mt-8 border-gray-300 border rounded-sm overflow-x-scroll scrollbar-thin scrollbar-thumb-black 
  }

  input::placeholder {
    @apply text-gray-500;
  }

  input::placeholder {
    visibility: visible !important;
  }

  .visibility-hidden {
    visibility: hidden
  }

  .dropDownItem {
    @apply px-4 py-2 hover:bg-gray-50 transition-all duration-200 cursor-pointer w-[230px] flex items-center gap-2
  }

  .submit_btn {
    @apply flex text-sm items-center justify-center  transition-all duration-200 cursor-pointer px-3 py-1 
    disabled:opacity-50  rounded-md bg-[#0095f6] text-white font-bold
  }

  .userSectionButtonLink {
    @apply px-3 py-[4px] hover:bg-gray-100 transition-all duration-200 cursor-pointer font-semibold flex items-center justify-center  border text-[#262626] border-gray-400 rounded-md border-opacity-50
  }

  .profileChip {
    @apply text-[#262626] text-[14px] font-sans py-1 px-2 rounded-2xl font-medium hover:bg-gray-50 transition-all duration-200 cursor-pointer
  }

  .editItem {
    @apply bg-white cursor-pointer hover:bg-gray-50 transition-all pl-[28px] py-3 pr-3 duration-200 border-l-2 border-transparent hover:border-gray-300 text-gray-600
  }

  .editItem-plus {
    @apply bg-white font-medium cursor-pointer hover:bg-gray-50 transition-all pl-[28px] py-3 pr-3 duration-200 border-l-2 text-[#262626] border-[#262626]
  }

  
  .editItem-ink-plus {
    @apply font-medium cursor-pointer hover:underline pl-[28px] py-3 pr-3 text-[#0095f6] 
  }

  .overlay {
    @apply inset-0 z-10 cursor-pointer flex items-center justify-center absolute bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-all duration-200
  }

  .chatItem {
    @apply flex gap-3 items-center px-[15px] cursor-pointer hover:bg-gray-50 transition-all duration-200
  }

  .small_modal {
    @apply inline-block w-full max-w-md  my-8 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl rounded-2xl
  }

  .icon_do {
    @apply p-1 transition-all duration-200 rounded-full hover:bg-gray-50
  }
 
}